.jdiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
}

.stats {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.jerry {
	width: 139px;
	height: 204px;
}